<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Todos</title>
	</head>
	
	<body>
		<header>
			<h3 th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</h1>
			
			<form th:action="@{/logout}" method="post">
			 	<input type="submit" value="Logout"/>
			</form>
		</header>
	
	    <h1>Todos</h1>
		
		<table>
		
		  <tr>
		    <th>Task</th>
			<th>State</th>
		  </tr>
		  
		  <tr th:each="todo : ${todos}">
		  	<td th:text="${todo.title}"></td>
			<td th:text="${todo.state}"></td>
			
			<td>
		    	<a th:href="@{/edittodo/{id}(id=${todo.id})}">Edit</a>
		    </td>
		    
		    <td sec:authorize="hasAuthority('ADMIN')">
		    	<a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
		    </td>
		    
		  </tr>
		  
		</table>
		
		<a href="/addtodo">Add New Task</a>
		
	</body>
	
</html>